# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editor / IDE Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Server / Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log
